@import url(https://fonts.googleapis.com/css?family=Nunito+Sans:200,200italic,300,300italic,regular,italic,600,600italic,700,700italic,800,800italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=Inter:regular);
* {
  margin: 0;
  padding: 0;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul, li {
  list-style: none;
}

a {
  text-decoration: none;
}

[class*=__container] {
  max-width: 1200px;
  padding: 0 10px;
  margin: 0 auto;
}

[class*=page__] {
  padding-bottom: 80px;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 400;
}

.logo {
  cursor: pointer;
}

.btn {
  border-radius: 50px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 700;
}

.btn--blue {
  background: -webkit-gradient(linear, left top, left bottom, from(#0D748B), to(#1A0B73));
  background: -o-linear-gradient(#0D748B 0%, #1A0B73 100%);
  background: linear-gradient(#0D748B 0%, #1A0B73 100%);
  color: white;
}
@media (min-width: 770px) {
  .btn--blue:hover {
    -webkit-transition: all 0.6s ease 0s;
    -o-transition: all 0.6s ease 0s;
    transition: all 0.6s ease 0s;
    -webkit-box-shadow: 0 4px 20px 0 rgba(26, 11, 115, 0.4);
            box-shadow: 0 4px 20px 0 rgba(26, 11, 115, 0.4);
  }
}

.btn--white {
  background: #F0F5FB;
  color: #1A0B73;
}
@media (min-width: 770px) {
  .btn--white:hover {
    -webkit-transition: all 0.6s ease 0;
    -o-transition: all 0.6s ease 0;
    transition: all 0.6s ease 0;
    border: 1px solid white;
    background: transparent;
  }
}
@media (min-width: 770px) {
  .btn--white:hover > *, .btn--white:hover {
    color: white;
  }
}

.title {
  color: #18154B;
  font-weight: 800;
  font-size: 36px;
  line-height: 1.36;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.catalog-arrow {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.34;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 7px;
  cursor: pointer;
}

.dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -ms-flex-item-align: end;
      align-self: end;
}
.dots .dot {
  cursor: pointer;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: rgba(56, 176, 193, 0.4);
}
.dots .active-dot {
  background-color: #38B0C1;
}

.messanger-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}
.messanger-icons img {
  cursor: pointer;
}

.page {
  background: #F0F5FB;
}

.contacts-header {
  background-color: #18154B;
}
@media (max-width: 533px) {
  .contacts-header {
    display: none;
  }
}
.contacts-header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 46px;
}

.links-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 44px;
}
.links-header #header-email {
  background: url("/img/header/icons/mail.svg") left no-repeat;
  padding-left: 26px;
}
.links-header #header-phone {
  background: url("/img/header/icons/phone.svg") left no-repeat;
  padding-left: 26px;
}
.links-header__element a {
  color: white;
}

.messanger-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 18px;
}
.messanger-header__element {
  cursor: pointer;
}

.menu__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 70px;
}
.menu__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
}
@media (max-width: 1024px) {
  .menu__list {
    display: none;
  }
}
.menu__links {
  color: #303239;
  font-size: 16px;
  line-height: 1.36;
}
@media (min-width: 770px) {
  .menu__links:hover {
    opacity: 70%;
  }
}
.menu .calling {
  width: 160px;
  height: 40px;
  font-size: 13px;
  line-height: 1.36;
  margin-right: 70px;
}
@media (max-width: 1024px) {
  .menu .calling {
    margin-right: 30px;
  }
}
@media (max-width: 768px) {
  .menu .calling {
    display: none;
    visibility: hidden;
  }
}

.window {
  background: white;
  display: none;
}

.body-window {
  padding: 40px 0px 80px 20px;
}
@media (max-width: 768px) {
  .body-window {
    padding: 30px 0px 40px 10px;
  }
}
.body-window__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
}
.body-window__contacts a {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.35;
  color: #303239;
  margin-left: 26px;
}
.body-window__contacts #menu-email {
  background: url("../img/header/icons/emailM.svg") left no-repeat;
}
.body-window__contacts #menu-phone {
  background: url("../img/header/icons/phoneM.svg") left no-repeat;
}

.menu-window__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  margin-bottom: 40px;
}
.menu-window__item {
  padding: 10px 0;
  border-bottom: 1px solid #F0F5FB;
}
.menu-window__links {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.375;
  color: #303239;
}

.window-call {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 15px;
}
.window-call #menu-btn {
  width: 160px;
  height: 40px;
  font-size: 13px;
  line-height: 1.36;
  display: none;
}
@media (max-width: 768px) {
  .window-call #menu-btn {
    display: block;
  }
}

.actions-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}
@media (max-width: 1024px) {
  .actions-menu {
    gap: 15px;
  }
}
.actions-menu__element {
  position: relative;
  width: 40px;
  height: 40px;
}
.actions-menu__element img {
  width: 100%;
  height: 100%;
  cursor: pointer;
}
@media (max-width: 425px) {
  .actions-menu #search {
    display: none;
  }
}

.counter {
  width: 18px;
  height: 18px;
  background: #18154B;
  color: white;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 10px;
  position: absolute;
  top: -3px;
  right: -5px;
}

.burger {
  width: 40px;
  height: 40px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  background: #F0F5FB;
  border-radius: 50%;
  display: none;
}
@media (max-width: 1024px) {
  .burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.burger__body {
  width: 14px;
  height: 2px;
  background: #18154B;
  border-radius: 3px;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.burger__body::before,
.burger__body::after {
  content: "";
  position: absolute;
  width: 15px;
  height: 2px;
  background: #18154B;
  border-radius: 3px;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.burger__body::before {
  -webkit-transform: translateY(-6px);
      -ms-transform: translateY(-6px);
          transform: translateY(-6px);
}

.burger__body::after {
  -webkit-transform: translateY(6px);
      -ms-transform: translateY(6px);
          transform: translateY(6px);
}

.burger.open .burger__body {
  -webkit-transform: translateX(-44px);
      -ms-transform: translateX(-44px);
          transform: translateX(-44px);
  background: transparent;
}

.burger.open .burger__body::before {
  -webkit-transform: rotate(45deg) translate(32px, -32px);
      -ms-transform: rotate(45deg) translate(32px, -32px);
          transform: rotate(45deg) translate(32px, -32px);
}

.burger.open .burger__body::after {
  -webkit-transform: rotate(-45deg) translate(32px, 32px);
      -ms-transform: rotate(-45deg) translate(32px, 32px);
          transform: rotate(-45deg) translate(32px, 32px);
}

.banner {
  padding-top: 40px;
}

.body-banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 768px) {
  .body-banner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 30px;
  }
}

.wholesale {
  background: -o-linear-gradient(16.44deg, #0D748B -10.13%, #1A0B73 75.49%), #FFFFFF;
  background: linear-gradient(73.56deg, #0D748B -10.13%, #1A0B73 75.49%), #FFFFFF;
  border-radius: 10px;
  width: 66.1%;
  max-height: 440px;
  padding: 80px 30px 80px 57px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 71px;
  position: relative;
  overflow: hidden;
}
@media (max-width: 768px) {
  .wholesale {
    width: 90%;
    gap: 20px;
  }
}
@media (max-width: 600px) {
  .wholesale {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 7px;
    padding: 30px 16px 20px 30px;
  }
}
.wholesale__bg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.wholesale__column {
  z-index: 2;
  color: #fff;
}
.wholesale__title {
  font-size: 38px;
  line-height: 1.34;
  text-transform: uppercase;
  font-weight: 800;
  margin-bottom: 20px;
}
@media (max-width: 1024px) {
  .wholesale__title {
    font-size: 30px;
  }
}
@media (max-width: 600px) {
  .wholesale__title {
    max-width: 250px;
    font-size: 24px;
    margin-bottom: 10px;
  }
}
.wholesale__subtitle {
  font-size: 18px;
  line-height: 1.34;
  font-weight: 600;
  margin-bottom: 30px;
}
@media (max-width: 600px) {
  .wholesale__subtitle {
    font-size: 16px;
    margin-bottom: 18px;
  }
}
.wholesale__circle {
  background: rgba(52, 110, 164, 0.2);
  border-radius: 50%;
  width: 596px;
  height: 563px;
  position: absolute;
  top: -61px;
  right: -390px;
  z-index: 1;
}
@media (max-width: 600px) {
  .wholesale__circle {
    top: 100px;
    right: -500px;
  }
}
.wholesale .catalog {
  width: 200px;
  height: 50px;
  font-size: 15px;
  line-height: 1.34;
}
@media (max-width: 600px) {
  .wholesale .catalog {
    height: 46px;
  }
}
.wholesale .slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 53px;
  width: 34.6%;
  z-index: 10;
}
@media (max-width: 600px) {
  .wholesale .slider {
    width: 50%;
    gap: 6px;
  }
}
.wholesale .slider img {
  position: relative;
  z-index: 10;
  min-width: 200px;
}
@media (max-width: 600px) {
  .wholesale .slider img {
    -webkit-transform: translateX(150px);
        -ms-transform: translateX(150px);
            transform: translateX(150px);
    min-width: 146px;
  }
}
@media (max-width: 400px) {
  .wholesale .slider img {
    -webkit-transform: translateX(100px);
        -ms-transform: translateX(100px);
            transform: translateX(100px);
  }
}

.discount {
  background: -webkit-gradient(linear, left bottom, left top, from(#1A0B73), to(#1A0B73)), radial-gradient(circle at top left, #42E8E0 0%, #40DDDA 0%, #3AAEC0 9.21%, #3484A9 17.3%, #2F6195 25.73%, #2B4486 34.58%, #282E79 44%, #261E71 54.25%, #24156C 65.94%, #24126A 82.26%);
  background: -o-linear-gradient(bottom, #1A0B73, #1A0B73), -o-radial-gradient(top left, circle, #42E8E0 0%, #40DDDA 0%, #3AAEC0 9.21%, #3484A9 17.3%, #2F6195 25.73%, #2B4486 34.58%, #282E79 44%, #261E71 54.25%, #24156C 65.94%, #24126A 82.26%);
  background: linear-gradient(0deg, #1A0B73, #1A0B73), radial-gradient(circle at top left, #42E8E0 0%, #40DDDA 0%, #3AAEC0 9.21%, #3484A9 17.3%, #2F6195 25.73%, #2B4486 34.58%, #282E79 44%, #261E71 54.25%, #24156C 65.94%, #24126A 82.26%);
  -webkit-box-shadow: 0px 4px 20px rgba(0, 7, 94, 0.1);
          box-shadow: 0px 4px 20px rgba(0, 7, 94, 0.1);
  border-radius: 10px;
  width: 32.2%;
  padding: 40px 30px 23px 8px;
  position: relative;
  overflow: hidden;
}
@media (min-width: 769px) {
  .discount:hover {
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-transform: scale(1.1, 1);
        -ms-transform: scale(1.1, 1);
            transform: scale(1.1, 1);
  }
}
@media (max-width: 768px) {
  .discount {
    width: 90%;
  }
}
.discount__title {
  margin-left: 32px;
  color: white;
  line-height: 1.34;
  font-size: 28px;
  text-transform: uppercase;
  font-weight: 800;
  margin-bottom: 10px;
  z-index: 10;
}
.discount__subtitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  line-height: 1.34;
  margin-left: 32px;
  z-index: 10;
}
@media (max-width: 400px) {
  .discount__subtitle {
    gap: 10px;
  }
}
.discount__subtitle span {
  font-size: 56px;
  font-weight: 700;
}
@media (max-width: 400px) {
  .discount__subtitle span {
    font-size: 50px;
  }
}
.discount__subtitle h4 {
  font-size: 18px;
  font-weight: 600;
}
.discount__btc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 9px;
}
@media (max-width: 768px) {
  .discount__btc {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.discount__btc .icon-btc {
  width: 63%;
  max-width: 216px;
  max-height: 200px;
  min-width: 136px;
  min-height: 126px;
}
.discount__arow {
  cursor: pointer;
  -ms-flex-item-align: end;
      align-self: flex-end;
  color: white;
  z-index: 10;
}
@media (max-width: 1024px) {
  .discount__arow {
    font-size: 12px;
  }
}
@media (max-width: 768px) {
  .discount__arow {
    font-size: 24px;
  }
  .discount__arow img {
    width: 30px;
    height: 30px;
  }
}
@media (max-width: 600px) {
  .discount__arow {
    font-size: 18px;
  }
}
.discount__circle {
  position: absolute;
  width: 365px;
  height: 365px;
  border-radius: 50%;
  background: #3BB9C6;
  -webkit-filter: blur(73px);
          filter: blur(73px);
}
.discount .first-sircle {
  position: absolute;
  bottom: 257px;
  right: 235px;
  z-index: 2;
}
@media (max-width: 768px) {
  .discount .first-sircle {
    bottom: 340px;
    right: 460px;
  }
}
.discount .second-sircle {
  position: absolute;
  top: 257px;
  left: 235px;
  z-index: 2;
}
@media (max-width: 768px) {
  .discount .second-sircle {
    top: 340px;
    left: 460px;
  }
}

.body-goods__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
@media (max-width: 1024px) {
  .body-goods__grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 700px) {
  .body-goods__grid {
    grid-template-columns: repeat(1, 1fr);
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.body-goods .goods-element {
  background: white;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  padding: 20px 32px 20px 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}
@media (max-width: 700px) {
  .body-goods .goods-element {
    min-width: 250px;
    margin: 0 auto;
  }
}
@media (max-width: 400px) {
  .body-goods .goods-element {
    gap: 10px;
  }
}
.body-goods .goods-element img {
  z-index: 10;
}
@media (min-width: 770px) {
  .body-goods .goods-element img:hover {
    -webkit-transition: all 0.7s;
    -o-transition: all 0.7s;
    transition: all 0.7s;
    -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
            transform: scale(1.2);
  }
}
.body-goods .goods-element__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 110px;
}
.body-goods .goods-element__circle {
  position: absolute;
  border-radius: 50%;
  width: 226px;
  height: 226px;
  left: -86px;
  top: -28px;
  background: -o-linear-gradient(3.98deg, #0D748B 11.79%, #1A0B73 90.28%);
  background: linear-gradient(86.02deg, #0D748B 11.79%, #1A0B73 90.28%);
  z-index: 2;
}
.body-goods .goods-element__title {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.27;
  color: #303239;
  width: 153px;
}
@media (max-width: 400px) {
  .body-goods .goods-element__title {
    font-size: 16px;
  }
}
@media (max-width: 400px) {
  .body-goods .goods-element__title {
    width: 90px;
    font-size: 14px;
  }
}
.body-goods .goods-element__arow {
  color: #18154B;
  font-weight: 700;
}

.body-best {
  position: relative;
  background: -o-radial-gradient(-8.58% -1.44%, 98.19% 130.91%, #42E8E0 0%, #40DDDA 1.57%, #3AAEC0 9.21%, #3484A9 17.3%, #2F6195 25.73%, #2B4486 34.58%, #282E79 44%, #180564 82.26%);
  background: radial-gradient(98.19% 130.91% at -8.58% -1.44%, #42E8E0 0%, #40DDDA 1.57%, #3AAEC0 9.21%, #3484A9 17.3%, #2F6195 25.73%, #2B4486 34.58%, #282E79 44%, #180564 82.26%);
  -webkit-box-shadow: 0px 4px 20px rgba(0, 7, 94, 0.1);
          box-shadow: 0px 4px 20px rgba(0, 7, 94, 0.1);
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 107px;
  padding: 60px 0px 56px 50px;
}
@media (max-width: 700px) {
  .body-best {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 30px;
    padding: 30px 0px 238px 0px;
  }
}
@media (max-width: 400px) {
  .body-best {
    gap: 0px;
    padding-bottom: 190px;
  }
}
.body-best__bg {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
}
.body-best__title {
  z-index: 10;
  font-weight: 800;
  font-size: 36px;
  line-height: 1.36;
  text-transform: uppercase;
  color: #FFFFFF;
  max-width: 341px;
}
@media (max-width: 700px) {
  .body-best__title {
    margin-left: 30px;
  }
}
@media (max-width: 500px) {
  .body-best__title {
    font-size: 22px;
  }
}
.body-best__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 40px;
  -webkit-column-gap: 60px;
     -moz-column-gap: 60px;
          column-gap: 60px;
  z-index: 10;
}
@media (max-width: 1024px) {
  .body-best__grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 700px) {
  .body-best__grid {
    grid-template-columns: repeat(1, 1fr);
    gap: 0px;
  }
}
@media (max-width: 500px) {
  .body-best__grid {
    gap: 36px;
  }
}

.gpu {
  position: absolute;
  left: 55px;
  top: 29px;
  z-index: 2;
}
@media (max-width: 700px) {
  .gpu {
    left: 25px;
    top: 855px;
  }
}
@media (max-width: 500px) {
  .gpu {
    left: 25px;
    top: 1015px;
    width: 248px;
    height: 257px;
  }
}
@media (max-width: 400px) {
  .gpu {
    left: 50px;
    top: 1000px;
  }
}

@media (max-width: 700px) {
  .element-best {
    width: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 14px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-item-align: center;
        align-self: center;
  }
}
.element-best img {
  width: 60px;
  height: 60px;
}
@media (max-width: 700px) {
  .element-best img {
    width: 140px;
    height: 140px;
  }
}
.element-best__title {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #FFFFFF;
  max-width: 176px;
}
@media (max-width: 700px) {
  .element-best__title {
    max-width: 200px;
    font-size: 24px;
  }
}
@media (max-width: 500px) {
  .element-best__title {
    max-width: 170px;
    font-size: 16px;
  }
}

.content-hits {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20px;
}
.content-hits__elements {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 30px;
  overflow: hidden;
  width: 100%;
  padding: 15px 0;
}
@media (max-width: 1200px) {
  .content-hits__elements {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
  }
}
@media (max-width: 1024px) {
  .content-hits__elements {
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
  }
}
@media (max-width: 700px) {
  .content-hits__elements {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    align-self: center;
  }
}
.content-hits__element {
  background: white;
  max-width: 220px;
  border-radius: 10px;
  padding: 15px 15px 30px 15px;
}
@media (min-width: 770px) {
  .content-hits__element:hover {
    -webkit-transition: all 0.6s;
    -o-transition: all 0.6s;
    transition: all 0.6s;
    -webkit-box-shadow: 0px 2px 36px -10px rgb(13, 116, 139);
            box-shadow: 0px 2px 36px -10px rgb(13, 116, 139);
  }
}
@media (max-width: 700px) {
  .content-hits__element {
    margin: 0 auto;
  }
}
.content-hits__dots, .content-hits__more {
  -ms-flex-item-align: center;
      align-self: center;
  text-align: center;
}
@media (max-width: 700px) {
  .content-hits__dots {
    display: none;
  }
}
.content-hits__more {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  color: #18154B;
  border-bottom: 2px dashed;
  cursor: pointer;
  display: none;
}
@media (max-width: 700px) {
  .content-hits__more {
    display: block;
  }
}

.element-hits__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.element-hits__image {
  margin-bottom: 10px;
}
@media (max-width: 500px) {
  .element-hits__image {
    width: 100px;
    height: 100px;
  }
}
.element-hits__title {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.35;
  color: #303239;
  margin-bottom: 6px;
}
@media (max-width: 500px) {
  .element-hits__title {
    font-size: 12px;
  }
}

.hits-mark {
  background: #F0F5FB;
  border-radius: 4px;
  padding: 3px 10px;
  background: -o-linear-gradient(16.44deg, #0D748B -10.13%, #1A0B73 75.49%), #FFFFFF;
  background: linear-gradient(73.56deg, #0D748B -10.13%, #1A0B73 75.49%), #FFFFFF;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.02em;
}

.hits-heart {
  cursor: pointer;
}

.hits-status {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  color: #9B9B9B;
  margin-bottom: 8px;
  -ms-flex-item-align: center;
      align-self: center;
}
@media (max-width: 500px) {
  .hits-status {
    font-size: 10px;
  }
}
.hits-status:before {
  content: "";
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #38B0C1;
  margin-right: 8px;
}

.sale {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 18px;
}
.sale__price {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.35;
  color: #303239;
}
@media (max-width: 500px) {
  .sale__price {
    font-size: 12px;
  }
}

.sale-basket {
  cursor: pointer;
}
@media (max-width: 500px) {
  .sale-basket {
    width: 34px;
    height: 34px;
  }
}

.btn-sale {
  width: 180px;
  height: 44px;
}
@media (max-width: 500px) {
  .btn-sale {
    width: 115px;
    height: 30px;
    font-size: 10px;
  }
}

.body-about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 80px;
}
.body-about__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 1024px) {
  .body-about__wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 30px;
  }
}
.body-about__img {
  min-width: 300px;
}
.body-about__elements {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 768px) {
  .body-about__elements {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 40px;
  }
}
@media (max-width: 500px) {
  .body-about__elements {
    grid-template-columns: repeat(1, auto);
    gap: 30px;
  }
}

.textblock-about {
  width: 54.72%;
}
@media (max-width: 1024px) {
  .textblock-about {
    width: 100%;
  }
}
.textblock-about__text {
  width: 100%;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.45;
  color: #303239;
}
@media (max-width: 1024px) {
  .textblock-about__text {
    font-size: 18px;
  }
}
@media (max-width: 786px) {
  .textblock-about__text {
    font-size: 14px;
  }
}

@media (max-width: 500px) {
  .element-about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.element-about__text {
  max-width: 123px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.45;
  color: #303239;
  text-align: center;
}
@media (max-width: 500px) {
  .element-about__text {
    width: 300px;
    text-align: left;
  }
}

.body-help {
  background: url("../img/help/images/bg-image.png") 0 0/cover;
  padding: 50px 0px 50px 60px;
}
@media (max-width: 600px) {
  .body-help {
    padding: 30px;
  }
}
.body-help__title {
  font-weight: 800;
  font-size: 28px;
  line-height: 1.35;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 10px;
}
@media (max-width: 768px) {
  .body-help__title {
    font-size: 26px;
  }
}
@media (max-width: 600px) {
  .body-help__title {
    font-size: 20px;
  }
}
.body-help__subtitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  color: #FFFFFF;
  margin-bottom: 25px;
}
@media (max-width: 600px) {
  .body-help__subtitle {
    font-size: 14px;
  }
}
.body-help__inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}
.body-help__checkbox {
  width: 14px;
  height: 14px;
}

.inputs__element, .inputs .submit {
  width: 240px;
  height: 50px;
}
.inputs__element {
  background: rgba(255, 255, 255, 0.3);
  border: 1px solid rgba(243, 243, 243, 0.7);
  border-radius: 50px;
  color: white;
  padding: 20px 16px;
}
.inputs__element::-webkit-input-placeholder {
  color: white;
}
.inputs__element::-moz-placeholder {
  color: white;
}
.inputs__element:-ms-input-placeholder {
  color: white;
}
.inputs__element::-ms-input-placeholder {
  color: white;
}
.inputs__element::placeholder {
  color: white;
}
.inputs__element:focus {
  border: none;
}
@media (max-width: 768px) {
  .inputs__element {
    min-width: 240px;
    width: 45%;
  }
}
@media (max-width: 600px) {
  .inputs__element {
    width: 90%;
  }
}
@media (max-width: 768px) {
  .inputs .submit {
    margin: 0 auto;
  }
}
@media (max-width: 600px) {
  .inputs .submit {
    margin: 0;
  }
}
@media (max-width: 768px) {
  .inputs {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media (max-width: 600px) {
  .inputs {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.checkbox-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #F3F3F3;
}
.checkbox-text:checked {
  background: white;
  color: #18154B;
}
@media (max-width: 600px) {
  .checkbox-text {
    font-size: 11px;
  }
}

.contacts__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 1024px) {
  .contacts__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 30px;
  }
}

.body-contact__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
  margin-bottom: 40px;
}
@media (max-width: 500px) {
  .body-contact__list {
    gap: 30px;
  }
}
@media (max-width: 1024px) {
  .body-contact__icons {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.body-contact__map {
  position: relative;
}
@media (max-width: 1024px) {
  .body-contact__map {
    -ms-flex-item-align: center;
        align-self: center;
  }
}
.body-contact__map .map {
  position: relative;
}

.element-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}
.element-contact__title {
  font-weight: 400;
  font-size: 18px;
  line-height: 145%;
  color: #303239;
}

.map-location {
  position: absolute;
  top: 150px;
  left: 345px;
  cursor: pointer;
}
@media (min-width: 770px) {
  .map-location:hover {
    -webkit-transition: all 0.7s;
    -o-transition: all 0.7s;
    transition: all 0.7s;
    -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.footer {
  background-color: #18154B;
}
.footer__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 60px 0;
}
@media (max-width: 768px) {
  .footer__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 40px;
    padding: 40px 30px;
  }
}
@media (max-width: 500px) {
  .footer__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 40px;
  }
}

.body-footer__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.body-footer__title {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.375;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #B8B8B8;
  margin-bottom: 20px;
}
@media (max-width: 768px) {
  .body-footer__title {
    padding: 15px;
    border: 2px solid white;
    margin: 0;
  }
  .body-footer__title:before {
    content: "";
    display: inline-block;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 10px solid #fff;
    width: 0;
    height: 0;
    margin-right: 15px;
    -webkit-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
            transform: rotate(-90deg);
    cursor: pointer;
  }
}
.body-footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 8px;
}
@media (max-width: 768px) {
  .body-footer__list {
    display: none;
  }
}
.body-footer__links {
  font-weight: 400;
  font-size: 15px;
  line-height: 1.33;
  color: #FFFFFF;
}

.logo-footer {
  gap: 16px;
}
.logo-footer img {
  width: 133px;
}
@media (max-width: 768px) {
  .logo-footer {
    gap: 20px;
  }
}
.logo-footer .copyright {
  display: block;
}
@media (max-width: 768px) {
  .logo-footer .copyright {
    display: none;
  }
}
.logo-footer .make-call {
  display: none;
}
@media (max-width: 768px) {
  .logo-footer .make-call {
    display: block;
  }
}

.call-footer {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.call-footer .links-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 8px;
}
.call-footer .links-footer__item {
  font-size: 15px;
  line-height: 1.33;
  text-align: right;
  color: #B8B8B8;
}
@media (max-width: 768px) {
  .call-footer .links-footer__item {
    text-align: left;
  }
}

.copyright {
  font-weight: 400;
  font-size: 15px;
  line-height: 1.33;
  color: #B8B8B8;
  display: none;
}
@media (max-width: 768px) {
  .copyright {
    display: block;
  }
}

.make-call {
  width: 200px;
  height: 50px;
}
@media (max-width: 768px) {
  .make-call {
    display: none;
  }
}