.body-goods {
   
    &__grid {
         display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;

        @media (max-width:1024px) {
            grid-template-columns: repeat(2, 1fr);
        }
        
        @media (max-width:700px) {
            grid-template-columns: repeat(1, 1fr);
            justify-content: center;
            align-items: center;
        }
    }

    .goods-element {
        background: white;
        border-radius: 10px;
        position: relative;
        overflow: hidden;
        padding: 20px 32px 20px 35px;
        display: flex;
        gap: 20px;

        @media (max-width:700px) {
            min-width: 250px;
            margin: 0 auto;
        }
        @media (max-width:400px) {
            gap: 10px;
        }

        img{
            z-index: 10;
            transition: all .7s;

            @media (min-width: 770px) {
                &:hover{
                    transform: scale(1.2);
                }
            }
            
        }

        &__wrap{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 110px;
        }

        &__circle {
            position: absolute;
            border-radius: 50%;
            width: 226px;
            height: 226px;
            left: -86px;
            top: -28px;
            background: linear-gradient(86.02deg, #0D748B 11.79%, #1A0B73 90.28%);
            z-index: 2;
        }
    
        &__title {
            font-weight: 600;
            font-size: 18px;
            line-height: 1.27;
            color: #303239;
            width: 153px;

            @media (max-width:400px) {
                font-size: 16px;
            }

            @media (max-width:400px) {
                width: 90px;
                font-size: 14px;
            }
        }
    
        &__arow {
            color: #18154B;
            font-weight: 700;
        }
    }
  
}


